# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude locally vendored dependencies.
vendor/

# Exclude node modules (rebuilt as part of the image)
node_modules

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore
Dockerfile.cloud
Dockerfile.example
npm-debug.log
deployment

# Exclude git history and configuration.
.git
.gitignore

README*.md
.env
.env.example
.env.local
.env.cloud
